{% extends 'home/base.html' %}

{% load my_tags %}

{% block content %}
    <div class="container-fluid py-5">
        <div class="row justify-content-center">
            <div class="col-md-6 text-center">
                <a href="{% url 'blog:blog_create' %}" class="btn btn-light btn-outline-info text-dark">
                    Добавить статью
                </a>
            </div>
        </div>
    </div>
    <div class="album py-5 bg-body-tertiary">
        <div class="container">
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                {% for item in object_list %}
                    <div class="col-3">
                        <div class="card mb-4 box-shadow">
                            <div class="card-header">
                                <h4 class="my-0 font-weight-normal">{{ item.title }}</h4>
                            </div>
                            <div class="card-body">
                                <a href="{% url 'blog:blog_detail' item.slug %}">
                                    <img alt="Изображение статьи" style="width: 75%"
                                         src="{% mediafile item.preview_image %} "/>
                                </a>
                                <ul class="list-unstyled mt-3 mb-4 text-start m-3">
                                    <li>Содержание: {{ item.content|truncatechars:100 }}</li>
                                </ul>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group">
                                        <a href="{% url 'blog:blog_detail' item.slug %}"
                                           class="btn btn-sm btn-outline-info text-dark">
                                            Подробно
                                        </a>
                                        {% if item.owner.email == user.email or 'Managers' in user_group_names %}
                                            <a href="{% url 'blog:blog_update' item.slug %}"
                                               class="btn btn-sm btn-outline-warning text-dark">
                                                Редактировать
                                            </a>
                                            <a href="{% url 'blog:blog_delete' item.slug %}"
                                               class="btn btn-sm btn-danger text-white">
                                                Удалить
                                            </a>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}